<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "onlineos.gizgames.scratch.mit.edu"
        versionCode = "10" 
        version     = "2.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>Virtual Computer</name>
    
     <icon src="/icon.png" />

    <description>
        An app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/GizGames" email="upanddownstudios@outlook.com">
        GizGames
    </author>

</widget>
