<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "drinkdawater.gizgames.scratch.mit.edu"
        versionCode = "92" 
        version     = "0.9.2" >

    <!-- versionCode is optional and Android only -->

    <name>Drink Da Water</name>
    
     <icon src="/icon.png" />

    <description>
        Drink Da Water, Earn Da Cash.
    </description>

    <author href="http://scratch.mit.edu/users/GizGames" email="GizGames@gmx.com">
        GizGames
    </author>

</widget>
